<section class="paQuienesSomos">
	<div class="header">
		<div class="row">
			<div class="titulo small-4 columns"><strong>
				¿Quiénes Somos?</strong></div>
			<div class="menu small-4 columns">
				<a class="itemMenu" href="">¿Qué nos hace diferentes?</a>
			</div>
			<div class="menu small-4 columns">
				<a class="itemMenu" href="">¿Por qué confiar en nosotros?</a>
			</div>
		</div>
	</div>
	<div class="content row">
		<div class="leftSide small-4 columns">	
			<p>Somos un equipo de personas con alto grado de compromiso que <strong>brindan soluciones de mantenimiento</strong> locativo y de equipos de apoyo crítico para nuestros clientes.</p>
			<p>Estamos <strong>capacitados y contamos con el expertise</strong> necesario para garantizar el adecuado funcionamiento de los equipos siguiendo con los parámetros de conservación <strong>indicados por cada fabricante</strong>. </p>
			<p>Trabajamos con <strong>profesionalismo y honestidad</strong>, garantizando que la ejecución de todas las actividades y las tareas de alto riesgo se realicen con la adecuada protección de áreas y trabajadores, basándonos en <strong>nuestras políticas de calidad y seguridad</strong>.</p>
		</div>
		<div class="rightSide small-8 columns">
			<div class="barras row">
				<!-- <div class="barraIzquierda left"></div>
				<div class="barraDerecha right"></div> -->
				<div class="small-1 columns"></div>
				<div class="small-10 columns"></div>
				<div class="small-1 columns"></div>
			</div>
			<div class="message">
				<ul class="icons small-block-grid-3">
					<li><img src="{{ STATIC_URL }}img/circulos-esquinas.png" alt=""></li>
					<li><img src="{{ STATIC_URL }}img/bulb.png" alt=""></li>
					<li><img src="{{ STATIC_URL }}img/circulos-esquinas.png" alt=""></li>
				</ul>
				<ul>
					<li>Confiabilidad y calidad del equipo humano</li>
					<li>Reducción de paradas imprevistas en los sistemas y equipos</li>
					<li>Operación en condiciones óptimas de seguridad</li>
					<li>Mayor vida útil de los equipos e instalaciones</li>
					<li>Menores gastos al no generar mantenimientos correctivos innecesarios</li>
					<li>Adecuada planeación del presupuesto por parte del cliente</li>
				</ul>
			</div>
		</div>
	</div>
</section>