.background {
  background: url("../img/home.jpg") no-repeat top center;
  background-size: cover;
  min-height: 100%;
}
body {
  min-height: 100%;
}
header {
  background-color: rgba(10,10,10,0.6);
}
header .leftHeader .menu {
  display: inline-block;
  font-weight: lighter;
  margin: 0.5rem;
}
header .leftHeader .menu a {
  color: rgba(255,255,204,0.8);
}
header .leftHeader .menu a.active {
  font-weight: bold;
}
header .leftHeader .menu .itemMenu {
  border-right: 1px solid #ffc;
  display: inline-block;
  padding: 0 0.5rem;
}
header .logoHeader {
  margin: 0 0.5rem;
}
header .rightHeader {
  background-color: #f33;
  padding: 0.5rem;
}
header .rightHeader .spAccesoClientes {
  background-color: #f33;
  color: rgba(255,255,204,0.8);
  display: inline-block;
}
header .social {
  height: 1.75rem;
  margin: 0.25rem 0.5rem;
}
header .leftHeader,
header .rightHeader {
  display: inline-block;
}
footer {
  color: #ffc;
  bottom: 0;
  background-color: #f33;
  font-size: 0.75rem;
  font-weight: lighter;
  position: fixed;
  width: 100%;
}
footer .logoCompleto {
  margin: 0.5rem;
}
footer .rightFooter {
  padding: 0.75rem;
}
footer .rightFooter a {
  color: #ffc;
}
footer .rightFooter .imSobre,
footer .rightFooter .spTelefono {
  margin: 0 1rem 0 0;
}
.paContacto .diContacto {
  background-color: #f33;
  border-radius: 2rem;
  color: #ffc;
  margin: 2rem 3rem 2rem 5rem;
  padding: 2rem 4rem;
}
.paContacto .diContacto .diTitulo {
  font-size: 1.25rem;
  text-align: center;
}
.paContacto .diContacto .diEnviar {
  text-align: center;
}
.paContacto .diContacto .diEnviar a {
  background-color: #ffc;
  border-radius: 1rem;
  color: #f33;
  display: inline-block;
  padding: 0.5rem 2rem;
}
.paContacto .diContacto .diFieldName {
  margin-top: 2rem;
  text-align: center;
}
.paContacto .diContacto input {
  background-color: #ffc;
  color: rgba(10,10,10,0.8);
}
.diPageWrapper {
  height: 100%;
}
.paHome {
  height: 100%;
  text-align: center;
}
.paHome .fiLogoGrande {
  color: #ffc;
  display: inline-block;
  font-weight: lighter;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.paHome .fiLogoGrande figcaption {
  max-width: 388px;
  padding: 1rem;
}
.paQuienesSomos .content .leftSide {
  padding: 2rem 0;
}
.paQuienesSomos .content .rightSide .barras {
  position: relative;
}
.paQuienesSomos .content .rightSide .barras :first-child,
.paQuienesSomos .content .rightSide .barras :last-child {
  background-color: #f33;
  margin: 0 1.5rem;
  height: 6rem;
  width: 23px;
}
.paQuienesSomos .content .rightSide .message {
  background-color: #f33;
  color: #ffc;
  padding: 1rem;
}
.paQuienesSomos .content .rightSide .message .icons {
  margin-bottom: 1rem;
}
.paQuienesSomos .content .rightSide .message .icons li {
  padding: 0 0.5rem;
  text-align: center;
}
.paQuienesSomos .content .rightSide .message .icons :first-child {
  text-align: left;
}
.paQuienesSomos .content .rightSide .message .icons :last-child {
  text-align: right;
}
.paQuienesSomos .content .rightSide .message .porQueDiferentes figure {
  text-align: center;
  margin: 0;
}
.paQuienesSomos .content .rightSide .message .porQueDiferentes figure figcaption {
  margin: 1rem 0;
}
.paQuienesSomos .header {
  background-color: #f33;
  color: #ffc;
}
.paQuienesSomos .header a {
  color: #ffc;
  display: inline-block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
.paQuienesSomos .header .menu {
  text-align: center;
}
.paQuienesSomos .header .menu:last-child {
  border-left: 1px solid #ffc;
}
.paQuienesSomos .header .menu,
.paQuienesSomos .header .titulo {
  padding: 1rem;
  display: inline-block;
}
.paServicios {
  color: #ffc;
  position: relative;
}
.paServicios .aMenu {
  position: absolute;
  right: 0;
}
.paServicios .leftSide {
  padding: 2rem 3rem 0 0;
}
.paServicios .leftSide .diServicio span {
  width: 100%;
}
.paServicios .leftSide .diServicio .spTituloServicio {
  display: inline-block;
  font-size: 4rem;
}
.paServicios .leftSide .diServicio .spDescripcionServicio {
  font-size: 1.5rem;
}
.paServicios .rightSide {
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
.paServicios .rightSide.selected {
  background-color: rgba(10,10,10,0.7);
}
.paServicios .rightSide .menu {
  background-color: rgba(10,10,10,0.8);
  display: inline-block;
  height: 100%;
  float: right;
  padding-right: 1rem;
}
.paServicios .rightSide .menu ul {
  font-size: 1.25rem;
}
.paServicios .rightSide .menu ul li {
  color: rgba(255,255,204,0.8);
  display: block;
  margin: 0.75rem 0;
}
.paServicios .rightSide .menu ul li.active {
  color: #f33;
}
.paServicios .diServicioSeleccionado .diDescripcion {
  background-color: rgba(10,10,10,0.75);
  font-size: 1.5rem;
  margin: 4rem auto;
  max-width: 700px;
  overflow: hidden;
  padding: 1rem 2rem;
  text-align: center;
}
.paServicios .diServicioSeleccionado .diDescripcion li {
  padding: 0.5rem 0;
}
.paServicios .diServicioSeleccionado .diDescripcion .spTituloServicio {
  font-size: 2.75rem;
  text-shadow: 2px 2px rgba(10,10,10,0.8);
}
